---
Language: Cpp
BasedOnStyle: Google
BreakBeforeBraces: Allman
AccessModifierOffset: -4
AlignAfterOpenBracket: Align
AlignOperands: AlignAfterOperator
AlignTrailingComments: false
AllowAllArgumentsOnNextLine: false
AllowAllParametersOfDeclarationOnNextLine: false
AllowShortFunctionsOnASingleLine: Inline
BinPackArguments: false
BinPackParameters: false
BraceWrapping:
  BeforeLambdaBody: true
  AfterStruct: true
  SplitEmptyRecord: true
  SplitEmptyFunction: false
BreakBeforeBinaryOperators: All
BreakConstructorInitializers: BeforeComma
ColumnLimit: 80
DerivePointerAlignment: false
IncludeCategories:
    # Precompiled header
  - Regex: '^"pch\.hpp"'
    Priority: 0
    # Local third party dependency headers
  - Regex: '^"(assimp|glad|GLFW|glm|imgui|stb).*"'
    Priority: 2
    # System headers
  - Regex: '^<.*'
    Priority: 3
    # Project headers
  - Regex: '.*'
    Priority: 1
IncludeIsMainSourceRegex: ''
IndentWidth: 4
InsertNewlineAtEOF: true
KeepEmptyLinesAtEOF: true
PackConstructorInitializers: Never
PenaltyBreakBeforeFirstCallParameter: 1
...

