---
Checks: >
  bugprone-*,
  -bugprone-easily-swappable-parameters,
  -bugprone-reserved-identifier,
  clang-diagnostic-*,
  clang-analyzer-*,
  modernize-*,
  -modernize-use-default-member-init,
  -modernize-use-trailing-return-type,
  performance-*,
  readability-*,
  -readability-avoid-const-params-in-decls,
  -readability-convert-member-functions-to-static,
  -readability-identifier-length,
  -readability-implicit-bool-conversion,
  -readability-isolate-declaration,
  -readability-magic-numbers,
  -readability-uppercase-literal-suffix
WarningsAsErrors: ""
HeaderFilterRegex: ""
CheckOptions:
  - key: readability-identifier-naming.LocalConstantCase
    value: "camelBack"
  - key: readability-identifier-naming.ConstantParameterCase
    value: "camelBack"
  - key: readability-identifier-naming.GlobalConstantCase
    value: "UPPER_CASE"
  - key: readability-identifier-naming.StaticConstantCase
    value: "UPPER_CASE"
  - key: readability-identifier-naming.VariableCase
    value: "camelBack"
  - key: readability-identifier-naming.StaticVariablePrefix
    value: "s_"
  - key: readability-identifier-naming.ProtectedMemberSuffix
    value: "_"
  - key: readability-identifier-naming.PrivateMemberSuffix
    value: "_"
